* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 500 16px 'Montserrat';
    font-style: normal;
    background-color: rgba(246, 245, 244, 1);
}

:any-link {
    text-decoration: none;
    color: black;
}
