* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 660px;
    margin: 0 auto;
    font: 500 12px Montserrat;
    font-style: normal;
    line-height: normal;
    background: #FFF;
    color: #242424;
}

.wrapper {
    /* border: 1px solid black; */
}

:any-link {
    text-decoration: none;
    color: #242424;
}

ol,
ul {
    list-style: none;
}

header .preview {
    display: flex;
    align-items: center;
    gap: 30px;

}

header .portrait {
    width: 100px;
    height: 100px;
    background: url(./74094635.jpg) no-repeat;
    background-size: contain;
    border-radius: 200px;
}

header .preview h1 {
    color: #2D3E5B;
    font-size: 24px;
}

header .preview h2 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

header .contacts {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
}

header .contacts a {
    text-decoration: underline;
}

.description {
    padding: 25px;
    margin-top: 24px;
    border-radius: 10px;
    background: #F7F8F8;
}

.skills {
    margin-top: 24px;
}

.skills h3 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

.skills .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 12px;
}

.code {
    margin-top: 24px;
}

.code h3 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

.code p {
    margin-top: 12px;
}

.experiences {
    margin-top: 24px;
}

.experiences h3 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

.experiences .item {
    margin-top: 12px;
}

.experiences .item {
    padding-bottom: 24px;
    border-bottom: 2px solid #EDEDED;
}

.experiences .career {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experiences .career div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.experiences .project {
    margin-top: 12px;
}

.experiences .project div {
    margin-top: 12px;
}

.experiences .project ul {
    margin-top: 12px;
}

.education {
    margin-top: 24px;
}

.education h3 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

.education p {
    margin-top: 12px;
}


.english {
    margin-top: 24px;
}

.english h3 {
    color: #DB9291;
    font-size: 12px;
    text-transform: uppercase;
}

.english p {
    margin-top: 12px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

footer .github-icon {
    margin-right: 10px;
}

footer .my-github {
    display: flex;
    align-items: center;
}